@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

.account-info {
    padding-left: 200px;
    min-width: 1800;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-bottom: -5px;
    width: 320px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 6px;
    outline: none;
    background-color: rgb(245, 245, 245);
    transition: all .2s ease-in-out;
}

.account-input:focus {
    width: 330px;
}

.delete-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 30px;
    right: 0;
    height: 25px;
    width: 130px;
    color: white;
    background-color: rgb(219, 2, 2);
    border: none;
    outline: none;
    border-radius: 8px;
    position: fixed;
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.473);
    transition: all .2s ease-in-out;
}

.delete-button:hover {
    background-color: rgb(143, 0, 0);
}

.header-logo-home {
    top: 0;
    z-index: 1;
    position: fixed;
    left: 50px;
}

.logout-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    width: 140px;
    border: none;
    outline: none;
    background-color: #19BDC2;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 35px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.473);
    transition: all .2s ease-in-out;
}

.logout-button:hover {
    background-color: #14898d;
}


.profile-placeholder {
    border-radius: 100%;
    margin-top: -10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.save-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    width: 200px;
    border: none;
    outline: none;
    background-color: #284550;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 45px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.384);
    transition: all .2s ease-in-out;
}

.save-button:hover {
    background-color: #417185;
}

.your-account {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 400;
}