@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

.sign-up-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    width: 200px;
    border: none;
    outline: none;
    background-color: #284550;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.384);
    transition: all .2s ease-in-out;
}

.sign-up-button:hover {
    background-color: #417185;
}

.transition-modal-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    top: 0;
}